
@{
    ViewBag.Title = "تنظیمات مربوط به صفحه اصلی";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>تنظیمات مربوط به صفحه اصلی</h1>

<section class="link-section">
    <a href="/IndexAbouts/Index">درباره ما</a>
    <a href="/Slider/">اسلایدر</a>
    <a href="#">متون صفحه اصلی</a>
</section>
<section class="iframe-section">
    <iframe src="/Home/Index" width="100%" height="100%;"></iframe>
</section>