
<section id="insight">
    <div class="insight-chart">
        <convas id="line-day"></convas>
    </div>
    <div class="insight-chart">
        <convas id="radar-week"></convas>
    </div>
    <div class="insight-chart">
        <convas id="polar-year" width="500" height="500"></convas>
    </div>
    <div class="insight-chart">
        <table>
            <tr></tr>
        </table>
    </div>
</section>